@import url("./navBar.css");
@import url("./rootColor.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background:var(--backgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:var(--textColor)

}

p{
    text-indent: 2em;
    /* padding: 0  0 0 */
}

img{
    width: 150px;
    /* border: rgba(0,0,0, 0.15) 3px solid; */
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.61);
}
/* dinky hand icon for hover and clicking image to expand */
img:hover{
    /* width: calc(125px * 2.5) */
    cursor:grab
}
img:active{
    cursor:grabbing
}
